// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'jquery-ui/themes/base/all.css';
@import 'select2/dist/css/select2.min.css';


$base-url: '';

body {
    font-family: "Inter", sans-serif;
}

.custHeader {
    background-color: #034052;
    background-repeat: no-repeat;
    // background-position: -70px 0px;
    background-position: right;
    background-size: auto;
    height: 110px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
main.custMainTag {
    padding-top: 110px;
    position: relative;
}
.custHdrLft{
    position: relative;
}
// .custHdrLft::after,
// .custHdrLft::before{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-image: url('../../public/assets/images/headerMotive.png');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }
main.custMainTag aside.custSidebar {
    width: 240px;
    position: fixed;
    left: 0;
    top: 110px;
    z-index: 5;
    height: calc(100vh - 110px);
    overflow: scroll;
    background-color: white;
    box-shadow: 0px 1px 10px #00000054;
}
.custLoginPageMn {
    height: 100vh;
    background-color: #dedede;
    // background-image: url('../../public/assets/images/loginBg.png');
    // background-repeat: no-repeat;
    // background-position: bottom right;
    // background-size: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
}

.custLoginPageMn  div#app {
    width: 100%;
}
.custLoginPageMn .custMainTag .custLoginPage {
    padding: 00px 0 0 0;
}
.custLoginPageMn .custHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.custLoginPage {
    display: block;
    padding: 220px 0 320px;
}

.custCardMn {
    display: flex;
    justify-content: center;
}

.custCard {
    width: 500px;
    padding: 40px;
    background-color: #fff;
}

.card-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}

.card-body {
    display: block;
}

.custCard .card-body .row {
    display: flex;
    flex-direction: column;
}

.custCard .card-body .row label {
    width: 100%;
    text-align: left !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
    color: rgba(31, 69, 75, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.custCard .card-body .row label sup {
    color: #dc3545;
    font-size: 20px;
    line-height: unset;
    top: 0;
}

.custCard .card-body .row .col-md-6 {
    width: 100%;
}

.custCard .card-body input.form-control {
    border-radius: 0px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: rgba(226, 233, 234, 1);
    padding: 0px;
    height: 40px;
    color: rgba(162, 174, 176, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.custCard .card-body input.form-control::placeholder {
    opacity: 1;
    color: rgba(162, 174, 176, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.custCard .card-body input.form-control:focus {
    box-shadow: none;
}

.custCard .card-body button.btn.btn-primary {
    float: right;
    border-radius: 50px;
    color: #fff;
    background-color: #00AC8C;
    border-color: #00AC8C;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 12px 25px;
}

.custCard .card-body button.btn.btn-primary:hover {
    color: #fff;
    background-color: rgba(31, 69, 75, 1);
    border-color: rgba(31, 69, 75, 1);
}

.custSidebar {
    float: left;
    width: 20%;
    height: 100vh;
    background: #eff2f2;
    padding: 40px 15px 40px 15px;
}

.custSidebarTp {
    display: flex;
    flex-direction: column;
    gap: 17px 0;
    margin-bottom: 40px;
}

.custUpldFlDv {
    display: block;
}

.custUpldFlDv a {
    display: inline-block;
}

.custUpldFlDv a.custUpldFl1 {
    background-color: rgb(0, 133, 112);
    padding: 10px 14px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
}

.custUpldFlDv a.custUpldFl2 {
    background-color: #fff;
    padding: 10px 24px;
    color: rgb(0, 172, 140);
    font-size: 12px;
    border-radius: 50px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
}
.custUpldFlDv a.custUpldFl2:hover{
    border: 1px solid rgb(0, 172, 140);
}
.custSidebarBtm {
    display: block;
}

.custRptDropdown {
    display: block;
}

.custRptDropdown ul.custAllChildUlPrnt {
    padding-left: 0px;
    margin-bottom: 10px;
}

.custRptDropdown .custAllChildUlPrnt ul {
    display: none;
    white-space: nowrap;
}

.custRptDropdown ul.custAllChildUlPrnt>li {
    padding: 10px !important;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.custRptDropdown ul.custAllChildUlPrnt li.custHasChild {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custRptDropdown ul.custAllChildUlPrnt li.custHasChild:after {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url('../../public/assets/images/iconPolygon.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 11px 9px;
    position: absolute;
    right: 5px;
    top: 12px;
}
.custRptDropdown ul.custAllChildUlPrnt > li.custHasChild:after {
    top: 16px;
    transform: translate(0px, 0%);
    right: 15px;
}

.custRptDropdown ul.custAllChildUlPrnt li.custHasChild.active {
    font-weight: 700;
    color: rgba(0, 133, 112, 1);
}

.custRptDropdown ul.custAllChildUlPrnt li.custHasChild.active>.custIconNormal {
    display: none;
}
.custRptDropdown ul.custAllChildUlPrnt > li ul {
    padding-left: 20px;
    padding-top: 10px;
}
.custRptDropdown ul.custAllChildUlPrnt li.custHasChild.active>.custIconActive {
    display: inline-block;
}

.custRptDropdown ul.custAllChildUlPrnt li.custHasChild.active:after {
    transform: rotate(180deg);
}

.custRptDropdown ul.custAllChildUlPrnt>li>img {
    margin-top: -5px;
}

.custRptDropdown ul li {
    list-style: none;
}

.custRptDropdown ul.custAllChildUlPrnt>li.active ul li {
    color: rgb(31, 69, 75);
    font-weight: normal;
}

.custRptDropdown ul.custAllChildUlPrnt>li.active ul li .custIconNormal {
    display: inline-block;
}

.custRptDropdown ul.custAllChildUlPrnt>li.active ul li .custIconActive {
    display: none;
}

.custRptDropdown h4 {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.custRptDropdown h4 a {
    color: rgba(31, 69, 75, 1);
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    display: block;
}

.custRptDropdown-active {
    color: rgba(31, 69, 75, 1);
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    display: block;
}

.custRptDropdown h4 a img {
    margin-top: -3px;
}

.custIconActive {
    display: none;
}

.custRptDropdown h4 a:hover .custIconActive,
.custRptDropdown h4.active a .custIconActive,
.custRptDropdown .custAllChildUlPrnt li:hover .custIconActive,
.custRptDropdown .custAllChildUlPrnt li.active .custIconActive {
    display: inline-block;
}

.custRptDropdown h4 a:hover .custIconNormal,
.custRptDropdown h4.active a .custIconNormal,
.custRptDropdown .custAllChildUlPrnt li:hover .custIconNormal,
.custRptDropdown .custAllChildUlPrnt li.active .custIconNormal {
    display: none;
}

.custRptDropdown h4 a:hover,
.custRptDropdown h4.active a,
.custRptDropdown ul.custAllChildUlPrnt li:hover,
.custRptDropdown ul.custAllChildUlPrnt li.active {
    color: rgba(0, 133, 112, 1);
    font-weight: 600;
    background-color: #e2e9ea;
}

.custNavBarHdr {
    display: flex;
    gap: 22px;
    align-items: center;
}

.custNavBarHdrIcons {
    display: flex;
}

.custNavBarHdrIcons ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 22px;
    align-items: center;
}

.custNavBarHdrIcons ul li {
    list-style: none;
}

.custNavBarHdr #navbarDropdown {
    padding: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.custNavBarHdr #navbarDropdown img {
    margin-right: 12px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}

.custNavBarHdr #navbarDropdown::after {
    display: none;
}

.custRightBarMn {
    float: right;
    width: calc(100% - 240px);
    height: 100%;
    min-height: calc(100vh - 110px);
    padding: 40px;
    background: #fff;
}

.custTableMn {
    display: block;
}

.custTableSrch {
    display: block;
}

.custTableSrch nav {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.custTableSrch nav form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
}
.custRptDropdown ul.custAllChildUlPrnt li.custHasChild ul li.custHasChild ul li.custHasChild:after {
    right: 0px;
}
.custRptDropdown ul.custAllChildUlPrnt li.custHasChild ul li.custHasChild {
    padding-right: 5px;
}
.custTableSrch nav form input[type="search"] {
    width: 100%;
    display: block;
    height: 42px;
    background-color: #e2e9ea;
    border-radius: 50px;
    border: none;
    padding: 0 140px 0 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.custTableSrch nav form input[type="search"]::placeholder {
    opacity: 1;
    color: rgba(98, 112, 115, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.custFltrSechDropdown {
    position: absolute;
    left: 17px;
    top: 7px;
    cursor: pointer;
}

.custTableSrchChldTp.active .custFltrSechDropdown {
    transform: rotate(180deg);
}

.custTableSrchChldTp.active .custSrchBtn {
    display: none;
}

.custTableSrch nav form .custTableSrchChldTp.active input[type="search"] {
    border-radius: 30px 30px 0px 0px;
}

.custSrchBtn {
    position: absolute;
    background-color: rgb(0, 133, 112);
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding: 12px 26px;
    right: 0;
    top: 0;
    display: flex;
    gap: 6px;
    transition: all 0.4s ease-in-out;
    align-items: center;
}

.custSrchBtn:hover {
    color: #fff;
    background-color: #034052;
}

.custTableSrchChld {
    display: block;
    width: 100%;
}

.custTableSrchChldTp {
    display: block;
    width: 100%;
}

.custTableSrchChldBtm {
    display: none;
    width: 100%;
    background-color: #e2e9ea;
    padding: 22px;
    border-radius: 0px;
}

.custTableSrchChldBtmFrm {
    display: flex;
    flex-direction: column;
    gap: 18px 0;
}

.custTableSrchChldBtmFrmRpt {
    display: flex;
    align-items: center;
}

.custTableSrchChldBtmFrmRptLft {
    width: 20%;
    padding: 0px 0 0 0;
}

.custTableSrchChldBtmFrmRptLft label {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.custTableSrchChldBtmFrmRptRt {
    width: 80%;
}
.custTableSrchChldBtmFrmRptRt .select {
    text-align: left;
    display: inline-block;
    // width: 100%;
    border: 1px solid #a2aeb0;
    border-radius: 6px;
    box-shadow: none;
    width: 50%;
    overflow: visible;
}
.custTableSrchChldBtmFrmRptRt .select > div {
    position: relative;
    overflow: visible;
}
.custTableSrchChldBtmFrmRptRt .select > div .select-dropdown.opened {
    position: absolute;
    width: 100%;
    z-index: 5;
}

.custTableSrchChldBtmFrmRptRt .selected {
    height: auto;
    padding: 0;
    background: transparent;
    cursor: pointer;
    color: rgb(31, 69, 75);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 20px 10px 35px;
}

.custTableSrchChldBtmFrmRptRt .selected>div img {
    width: 20px;
}

.custTableSrchChldBtmFrmRptRt .selected span {
    margin: 0px;
}

.custTableSrchChldBtmFrmRptRt .form-control,
.custTableSrchChldBtmFrmRptRt .form-control {
    border: 1px solid #a2aeb0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
    padding: 10px 20px 10px 35px;
    color: rgba(31, 69, 75, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    background: transparent;
}
.custTableSrchChldBtmFrmRptRt input#date_modified {
    width: 50%;
    border: 1px solid #a2aeb0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
    padding: 10px 20px 10px 35px;
    color: rgba(31, 69, 75, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    background-color: transparent;
    background-image: url('../../public/assets/images/iconPolygon.svg');
    background-repeat: no-repeat;
    background-position: 96% 50%;
    background-size: 11px;

}

.custTableSrchChldBtmFrmRptRt select.form-control {
    padding: 10px 35px;
    width: 224px;
    background-image: url('../../public/assets/images/iconPolygon.svg');
    background-repeat: no-repeat;
    background-position: 90% 54%;
    background-size: 11px;
    cursor: pointer;
}

.custTableSrchChldBtmFrmRptRt input.form-control::placeholder {
    opacity: 1;
    color: rgb(98, 112, 115);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.custTableSrchChldBtmFrmRptRt .item-search {
    padding: 10px 10px;
    background: #fff;
    border-bottom: 0;
}

.custTableSrchChldBtmFrmRptRt .items {
    padding: 8px 0;
    background: #fff;
}

.custTableSrchChldBtmFrmRptRt .items>div {
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
}

.custTableSrchChldBtmFrmRptRt .items>div .img {
    padding-top: 0px;
    width: 30px;
}

.custTableSrchChldBtmFrmRptRt .items>div .img img {
    width: 100%;
}

.custTableSrchChldBtmFrmRptRt .items .content {
    display: inline-block;
    width: calc(100% - 30px);
    padding: 0 0 0 15px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(31, 69, 75, 1);
}

.custTableSrchChldBtmFrmRptRt .items .content b {
    font-weight: normal;
}

.SrchBarFlterBtns {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 65px;
    position: relative;
}

.SrchBarFlterBtns .custSrchBtn {
    position: relative;
    font-size: 13px;
}

.custRstBtn {
    color: rgba(0, 172, 140, 1);
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    padding: 12px 26px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    align-items: center;
}
.custRstBtn:hover {
    border: 1px solid rgba(0, 172, 140, 1);
}

.custFilterTable {
    display: block;
    margin: 30px 0 0 0;
}

.custFilterTabledng {
    display: block;
}

.custFilterTabledng h3 {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
}

.custFilterTableMn {
    display: block;
    width: 100%;
}

.custFilterTableMn table thead tr {
    border: none;
}

.custFilterTableMn table thead tr th {
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
}

.custFilterTableMn table thead tr th a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.custFilterTableMn table thead tr th:hover {
    cursor: pointer;
}

.custFilterTableMn table tbody tr {
    border-color: #627073;
}

.custFilterTableMn table tbody tr td {
    padding: 12px 10px;
    background-color: transparent;
    border-left: none;
    border-right: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: rgba(70, 80, 82, 1);
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custFilterTableMn table tbody tr td b {
    font-weight: 700;
}

.custFilterTableMn table tbody tr td img {
    width: 20px;
    margin: -5px 0 0 0;
}

.custFilterTableMn table tbody tr td img.custTablsDots {
    width: auto;
    cursor: pointer;
}

.custFilterFrSrch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
}

.custFilterFrSrch ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.custFilterFrSrch ul li {
    list-style: none;
}

.custFilterFrSrch ul li .select {
    border: none;
    border-radius: 50px;
    box-shadow: none;
    background: #034052;
    width: 160px;
}

.custFilterFrSrch ul li .select .selected {
    height: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 12px 24px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.custFilterFrSrch ul li .select .selected>div {
    order: 0;
}

.custFilterFrSrch ul li .select .selected>span {
    order: 1;
    margin: 0px;
}

.custFilterFrSrch ul li .custTableSrchChldBtmFrmRptRt select.form-control {
    border-radius: 50px;
    border: none;
    background-color: #034052;
    padding: 12px 24px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    width: 160px;
    background-image: url("../../public/assets/images/iconDownWt.svg");
    background-repeat: no-repeat;
    background-position: 78% 54%;
    background-size: 12px;
}

.custFilterFrSrch ul li .select.active .selected>span {
    transform: rotate(180deg);
}
.custFilterFrSrch ul li .select .items:hover {
    background: #e2e9ea;
    cursor: pointer;
}
.custFilterFrSrch ul li .select .items {
    background: #fff;
    transition: all 0.4s ease-in-out;
}
.custFilterFrSrch ul li .select .items:hover{

}

.custFilterFrSrch ul li .select .items .content {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    width: calc(100% - 30px);
    margin-left: auto;
}

.custFilterFrSrch ul li .select .items .content b {
    font-weight: normal;
}

.custFilterFrSrch ul li .select-dropdown.opened {
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custFilterFrSrch ul li .item-search input {
    padding: 5px 10px;
    font-size: 14px;
}

.custFilterFrSrch ul li .select .items>div {
    display: flex;
    align-items: center;
}

.custFilterFrSrch ul li .select .items .img {
    padding-top: 0px;
}

.custFilterFrSrch ul li .select .items .img img {
    width: 20px;
}

.custFilterTableMn .table-responsive {
    overflow-x: inherit;
}

.ClickToOpen {
    position: absolute;
}

.custShrDv {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 210px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.custShrDv.active {
    display: block;
    right: 30px;
}

.custShrDvCld {
    position: relative;
    width: 100%;
    height: 100%;
}

.custShrDvCld ul {
    margin: 0px;
    padding: 10px 0;
}

.custShrDvCld ul li {
    list-style: none;
}

.custShrDvCld ul li img {
    margin-right: 2px !important;
}

.custShrDvCld>ul>li {
    color: rgba(3, 64, 82, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

.custShrDvCld>ul>li:nth-child(1),
.custShrDvCld>ul>li:nth-child(4) {
    border-bottom: 1px solid #000;
}

.custShrDvCld>ul>li.custHasCldMenu {
    padding: 10px 10px 10px 70px;
    position: relative;
}

.custShrDvCld>ul>li.custHasCldMenu::after {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url("../../public/assets/images/iconPolygon.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 16px;
    transform: rotate(90deg);
}

.custShrDvCld>ul>li.custHasCldMenu.active::after {
    transform: rotate(-90deg);
}

.custShrDvCld>ul>li:hover,
.custShrDvCld>ul>li.custHasCldMenu.active {
    background-color: #e2e9ea;
}

.custShrDvCld>ul>li>a {
    padding-left: 70px !important;
}
.custShrDvCld > ul > li > form .pl-50 {
    padding-left: 69px;
    text-align: left;
    color: rgb(1 63 81);
}
.custShrDvCld ul li a {
    display: block;
    position: relative;
    color: rgba(3, 64, 82, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    padding: 10px 10px;
}

.custShrDvCld ul li.custHasCldMenu>ul {
    position: absolute;
    right: 100%;
    width: 186px;
    top: 0;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: none;
}

.custShrDvCld ul li.custHasCldMenu.active>ul {
    display: block;
}

.custShrDvCld ul li.custHasCldMenu>ul>li {
    padding: 0px;
}

.custShrDvCld ul li.custHasCldMenu>ul>li>a {
    display: block;
    padding: 10px 20px;
}

.custShrDvCld ul li.custHasCldMenu>ul>li>a:hover {
    background-color: #e2e9ea;
}

.custModelNew .modal-content {
    border-radius: 0px;
}

.custModelNew .modal-content .modal-header {
    border: none;
}

.custModelNew .modal-content .modal-header .modal-title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.custModelNew .modal-content .modal-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.custMdlData {
    display: flex;
    flex-direction: column;
}

.custMdlDataTp {
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(162, 174, 176);
    margin-bottom: 20px;
}

.custMdlDataTp ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0 30px;
}

.custMdlDataTp ul li {
    list-style: none;
    color: rgba(31, 69, 75, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.custMdlDataTp ul li .form-check-input:checked {
    background-color: rgba(0, 172, 140, 1);
    border-color: rgba(0, 172, 140, 1);
}

.custMdlDataBtm {
    display: block;
}

.custMdlDataBtm h3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.custMdlDataBtmLnk {
    display: flex;
    position: relative;
    padding-bottom: 45px;
    gap: 12px;
}

.custMdlDataBtmLnk .custRstBtn {
    background-color: rgb(226, 233, 234);
    color: rgb(31, 69, 75);
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    width: calc(100% - 120px);
    padding: 8px 26px;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
}

.custHdnOvflw {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.custMdlDataBtmLnk .custSrchBtn {
    position: relative;
    background-color: rgba(0, 172, 140, 1);
    font-size: 12px;
    font-weight: 600;
}

.custCtrBtnCld {
    float: left;
    text-align: center;
}

.custCtrBtnCld .avatar {
    width: 247px;
    height: 247px;
}

.custCtrBtnCld .avatar img {
    width: 100%;
    height: 100%;
}

.custEdtPflSec h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 40px;
}

.custEdtPflSec label {
    color: rgba(31, 69, 75, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.custEdtPflSec .form-section h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.custEdtPflSec button {
    height: 36px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.custEdtPflSec .custCtrBtnCld label.btn {
    color: #fff;
}

.custEdtPflSec input.form-control {
    height: 42px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.custEdtPflSec select {
    height: 42px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

body.user-profile .custSidebarBtm {
    display: none;
}

.custUseStng .custFilterTabledng h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.custUseStng li.nav-item.dropdown {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgba(31, 69, 75, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.custUserTblMnSec .custFilterTabledng {
    display: flex;
    align-items: center;
}

.custUserTblMnSec .custFilterTabledng .custUpldFlDv {
    margin-left: auto;
}

.custUserTblMnSec .custFilterTabledng .custUpldFlDv a {
    padding: 10px 15px;
    font-size: 13px;
}

.pagination li.page-item.active span {
    background-color: #008570;
    border-color: #008570;
}

.pagination li.page-item a {
    color: #008570;
}

.custShrDvCld>ul>li>form {
    display: block;
    width: 100%;
}

.custShrDvCld>ul>li>form>button.btn.btn-danger {
    display: block;
    position: relative;
    color: rgb(3, 64, 82);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    padding: 10px 10px;
    min-width: 100%;
    background: transparent;
    border: none;
}

/**/
.selected span {
    float: right;
    margin-top: -5px;
}

.select-dropdown {
    overflow: hidden;
    height: 0px;
    transition: height ease 0.2s;
}

.select-dropdown.opened {
    height: auto;
    transition: height ease 0.2s;
}

.selected {
    height: 23px;
    padding: 10px 10px;
    background: #f0f0f0;
    cursor: pointer;
}

select {
    display: none;
}

.select {
    text-align: left;
    display: inline-block;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.item-search {
    padding: 15px 10px;
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.item-search input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #eee;
    border-radius: 5px;
    font-size: 16px;
}

.item-search input:focus {
    outline: none;
    border: 1px solid #4fa5ff;
    margin: 1px;
    box-shadow: 0px 0px 0px 5px #afd6ff;
}

.items {
    overflow: auto;
    overflow-x: hidden;
}

.items>div {
    border-top: 1px solid #eee;
    font-size: 0px;
}

.img {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    padding: 12px 0px 0px 12px;
}

.content {
    display: inline-block;
    width: calc(100% - 120px);
    padding: 10px;
    font-size: 15px;
}

span.badge {
    border: 1px solid #ccc;
    padding: 3px 10px;
    font-size: 13px;
    background: #fafafa;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/****/
.form-label {
    font-weight: bold;
    color: #1a3b5d;
}

.form-control {
    &::placeholder {
        color: #c4c4c4;
    }

    border: none;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0;
    transition: border-bottom 0.3s ease-in-out;

    &:focus {
        box-shadow: none;
        border-bottom: 1px solid #00b894;
    }
}

.btn-primary {
    background-color: #00b894;
    border: none;
    border-radius: 20px;
}

.btn-outline-secondary {
    border-color: #00b894;
    color: #00b894;
    border-radius: 20px;

    &:hover {
        background-color: #00b894;
        color: #fff;
    }
}

.form-control:focus {
    box-shadow: none !important;
}

.btn {
    min-width: 110px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*background-color: #e0e0e0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    img {
        border-radius: 50%;
        border: 1px solid #ececec;
        padding: 2px;
    }
}

.form-section {
    margin-bottom: 30px;

    h5 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .form-group {
        margin-bottom: 15px;
    }
}

.form-select {
    border: none;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0;
    transition: border-bottom 0.3s ease-in-out;

    &:focus {
        box-shadow: none;
        border-bottom: 1px solid #00b894;
    }
}

.custShowMbl {
    display: none;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    z-index: 9999999999;
}

/* Custom styling for Select2 result dropdown */
.select2-result-user {
    padding: 8px 15px;
    /* Padding around each item */
    border-bottom: 1px solid #f1f1f1;
    /* Light border between items */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

/* Hover effect for result items */
.select2-result-user:hover {
    background-color: #f8f9fa;
    /* Light gray background on hover */
}

/* User avatar styling */
.select2-result-user-avatar {
    border: 2px solid #ddd;
    /* Light border around the avatar */
}

/* User name styling */
.select2-result-user-name {
    font-weight: 600;
    /* Slightly bolder font weight */
    color: #333;
    /* Darker color for the name */
    font-size: 14px;
    /* Increase the font size for visibility */
    line-height: 1.4;
    /* Adjust line height for better readability */
}

/* User email styling */
.select2-result-user-email {
    font-size: 12px;
    /* Smaller font size for email */
    color: #666;
    /* Lighter gray color for email */
    margin-top: 2px;
    /* Small spacing above the email */
    line-height: 1.4;
    /* Match the line height with the name */
}

/* Container for user info */
.select2-result-user-info {
    flex-grow: 1;
    /* Allow the text to take up remaining space */
}

/* Adjust the select2 selection rendered display */
.select2-selection__rendered {
    display: flex;
    align-items: center;
}

.select2-selection__rendered img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}





.tag-container {
    border: 2px solid #3b82f6;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #f9fafb;
}

.tag img,
.tag .initial {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.tag .close {
    margin-left: 8px;
    cursor: pointer;
}

.input-field {
    border: none;
    outline: none;
    flex-grow: 1;
}



.custAllChildUlPrnt li a {
    text-decoration: none;
    color: #20454b;


}

// .custAllChildUlPrnt li a:hover {
//     color: #008570;
//     font-weight: 600;
//     background-color: #fff;
// }


input#custom_date_modified {
    background: transparent;
    border: none;
    color: #fff;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    outline: none;
    box-shadow: none;
    &::placeholder {
        font-weight: 600;
        color: #fff;
        opacity: 1;
    }
}

input#date_modified {
    text-align: left;
    display: inline-block;
    width: 224px;
    border: 1px solid #a2aeb0;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: none;
    padding: 10px;
    background: #e2e9ea;
}

.UsrImg {
    // Add your styles here
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.content-list tr td b.FolderName {
    // Add your styles here
    text-decoration: none;

}

.custmclckbtnshared {
    color: #00a289;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
    text-decoration: none;
}

.custmclckbtnshared:hover {
    color: #036e5e;
    font-weight: 700;
    background-color: #fff;
    text-decoration: underline;
    text-decoration-color: #00a289;
    text-decoration-thickness: 1px;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



#searchResults,
#searchResultfiles {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 5px;
    background-color: white;
    position: absolute;
    width: calc(100% - 20px);
    z-index: 9999;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


#searchResults .folder-item,
#searchResultfiles .folder-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchResults .folder-item:hover,
#searchResultfiles .folder-item:hover {
    background-color: #e5f3ff;
}

#selectedFolder {
    font-size: 14px;
    padding: 10px;
    background-color: #e5f3ff;
    border-radius: 4px;
    margin-top: 10px;
    color: #1cb055;
    font-weight: bold;
}

#folderSearchInput::placeholder,
#folderSearchforfile::placeholder {
    color: #9ca3af;
}

.ClickToOpen {
    display: flex;
    justify-content: end;
}

.custTablsDots {
    padding: 8px;
    border-radius: 50%;
    text-align: end;

}

.custTablsDots:hover {
    border-radius: 50%;
    background-color: #f1f1f1;
}


.custmmodalheading {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin: 0 auto;
}

.custmmodalheading img {
    width: 32px;
    height: 28px;
}

.custmmodalheading p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
    line-height: 1.2;
}

.modal-header .CloseBtn {
    margin-right: 0;
}

.CloseBtn:hover {
    background-color: #e0e0e0;
}



#contentSearchInput {
    height: 30px;
    width: 100%;
    font-size: 14px;
    padding: 5px;
}

#contentGrid,
#folderContentGrid {
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
}

#contentGrid::-webkit-scrollbar,
#folderContentGrid::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#contentGrid .content-item-container .content-item,
#folderContentGrid .folder-item-container .folder-item {
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    padding: 5px;
    position: relative;
}


#contentGrid .content-item-container .content-item:hover,
#folderContentGrid .folder-item-container .folder-item:hover {
    background-color: #e0e0e0;
}

#contentGrid .content-item-container .content-item img,
#folderContentGrid .folder-item-container .folder-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding-top: 5px;
}

#contentGrid .content-item-container .content-item.active,
#folderContentGrid .folder-item-container .folder-item.active {
    border-radius: 10px;
    background-color: #e0e0e0;
}

#contentGrid .content-item-container .content-item #itemName,
#folderContentGrid .folder-item-container .folder-item #itemName {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 6px;
    border-radius: 8px;
    z-index: 10000;
    font-size: 12px;
    width: 100px;
    text-align: center;
}

#dateModifiedInput {
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: none;
    padding: 10px;

    &::placeholder {
        color: #3c3c3c;
        opacity: 1;
    }
}

.selectFolderPopup button {
    border: 1px solid #a2aeb0;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #f8fafc;
    margin-right: 5px;
}

.selectFolderPopup button:hover {
    background-color: #e2e9ea;
    border: 1px solid #00ac8c;
}

.selectFolderPopup button img{
    width: 20px;
    height: 20px;
}

.modal-body {
    min-height: 100px;
}

.breadcls {
    display: flex;
    overflow-x: auto;
    background-color: #e2e9ea;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.custom-breadcrumb {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 133, 112);
    margin-bottom: 0;
    flex-wrap: wrap;
    max-width: 100%;
}

.custom-breadcrumb .breadcrumb-item {
    margin-right: 0px;
    white-space: nowrap;
}

.custom-breadcrumb .breadcrumb-item a {
    color: rgb(0, 133, 112);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.custom-breadcrumb .breadcrumb-item a:hover {
    color: rgb(0, 103, 91);
    text-decoration: underline;
}

.custom-breadcrumb .breadcrumb-item.active {
    color: rgb(52, 60, 58);
}

.custom-breadcrumb .breadcrumb-item:last-child {
    font-weight: 800;
    color: rgb(117 122 121);
}

.custom-breadcrumb .breadcrumb-item:first-child {
    padding-left: 0;
}

.breadcls::-webkit-scrollbar {
    height: 6px;
}

.breadcls::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.breadcls::-webkit-scrollbar-thumb {
    background-color: #888;
}

.breadcls::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 20px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#1f454b 0 0);
    background:
        var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;

}

@keyframes l1 {
    0% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }

    33% {
        background-size: 20% 10%, 20% 100%, 20% 100%
    }

    50% {
        background-size: 20% 100%, 20% 10%, 20% 100%
    }

    66% {
        background-size: 20% 100%, 20% 100%, 20% 10%
    }

    100% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }
}

.btn-custom-new {
    background: #038570 !important;
    border-radius: 50px !important;
    color: white !important;
    font-weight: 600;
}
.custFilterTable form input[type="text"] {
    border-radius: 50px !important;
    padding: 10px 20px !important;
}
.custRightBarMn .mb-50  {
    margin-bottom: 50px !important;
}
#contentGrid .content-item-container .content-item img.checked-icon,
#folderContentGrid .folder-item-container .folder-item img.checked-icon {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: none;
    padding: 0;
}
#contentGrid .content-item-container .content-item.active img.checked-icon,
#folderContentGrid .folder-item-container .folder-item.active img.checked-icon {
    display: block;
}

// // Responsive css start from here
// @media (max-width: 1540px){
//     .custHeader .container {
//         padding-left: 12%;
//     }
// }
// @media (max-width: 1440px){
//     .custHeader .container {
//         padding-left: 17%;
//     }
// }
// @media (max-width: 1366px){
//     .custHeader .container {
//         padding-left: 14%;
//     }
// }

@media(min-width:1101px) and (max-width:1300px) {
    .custSidebar {
        padding: 40px 15px 40px 15px;
    }

}
@media(min-width:992px) and (max-width:1199px) {
    .custFilterFrSrch ul {
        flex-wrap: wrap;
    }

}
@media(min-width:768px) and (max-width:991px) {
    .custRightBarMn {
        width: 69% !important;
        padding: 40px 20px;
    }
    section.custTableMn.custEdtPflSec .form-section .form-group {
        width: 50%;
    }
    main.custMainTag aside.custSidebar {
        height: calc(100vh - 0px) !important;
    }
    .custTblPgntn nav .d-none.flex-sm-fill.d-sm-flex.align-items-sm-center.justify-content-sm-between {
        display: block !important;
    }
    ul.pagination {
        width: 100% !important;
        overflow: hidden;
    }
    .custTblPgntn nav .d-none.flex-sm-fill.d-sm-flex.align-items-sm-center.justify-content-sm-between:nth-child(2){
        overflow: hidden;
        width: 100% !important;
    }
}
@media(min-width:100px) and (max-width:767px) {
    .custSidebarTp {
        top: 82px !important;
    }
    main.custMainTag aside.custSidebar {
        width: 102%;
        top: unset;
        height: unset;
        box-shadow: unset;
        padding: 0;
        bottom: -16px;
    }
    .custFilterTableMn table tbody tr td img.custTablsDots {
        width: 100% !important;
        margin-top: -12px;
    }

    .custSidebarTp {
        position: unset !important;
        padding: 10px;
    }
    .custSidebarTp {
        flex-direction: row;
        margin-bottom: 0px;
        position: absolute;
        top: -60px;
        width: 100%;
    }
    .custSidebarBtm {
        background-color: #EFF2F2;
        padding: 12px;
    }
    .custFilterTableMn table tbody tr td {
        padding-top: 11px !important;
    }
    .btn-outline-secondary {
        height: 38px !important;
    }
    section.custTableMn.custEdtPflSec .d-flex {
        justify-content: center;
    }
    .custEdtPflSec h2, .custEdtPflSec .h2 {
        margin-right: 0;
    }
    .custFilterTable form input[type=text] {
        margin-bottom: 14px;
    }
    .custTableSrchChldBtmFrmRptRt input#date_modified {
        width: 100%;
        padding: 10px 20px;
        font-size: 14px;
        &::placeholder {
            font-size: 14px;
            color: #3c3c3c;
        }
    }
    .custShrDvCld > ul > li > form .pl-50 {
        padding-left: 6px;
        text-align: center;
    }
    .custFilterTable form input[type=text] {
        width: 100% !important;
    }
}
@media(min-width:992px) and (max-width:1100px) {
    .custSidebar {
        padding: 40px 15px 40px 15px;
    }

    .custUpldFlDv a.custUpldFl1 {
        font-size: 15px;
    }
}
@media (max-width: 1024px){
    .custHeader {
        background-position: 200px center;
        background-size: 894px 106px;
    }
    // .custHeader .container {
    //     padding-left: 7%;
    // }
}

@media (max-width: 991px){
    .custHeader {
        background-image: none !important;
    }
    // .custHeader .container {
    //     padding-left: 0%;
    //     padding-right: 0%;
    // }
}

@media(min-width:768px) and (max-width:991px) {
    .custSidebar {
        width: 25%;
        padding: 40px 15px 40px 15px;
    }

    .custUpldFlDv a.custUpldFl1 {
        font-size: 13px;
    }

    .custRightBarMn {
        width: 75%;
        padding: 40px 20px;
    }

    .custTableSrch nav form {
        width: 80%;
    }

    .custTableSrchChldBtmFrmRptLft {
        width: 40%;
    }

    .custTableSrchChldBtmFrmRptRt {
        width: 60%;
    }

    .custTableSrchChldBtmFrmRptRt .select,
    .custTableSrchChldBtmFrmRptRt select.form-control {
        width: 100%;
        font-size: 14px;
    }

    .custTableSrchChldBtmFrmRptRt .selected,
    .custTableSrchChldBtmFrmRptRt select.form-control,
    .custTableSrchChldBtmFrmRptRt input.form-control {
        padding: 10px 20px 10px 20px;
        font-size: 14px;
    }

    .custTableSrchChldBtmFrmRptRt .selected,
    .custTableSrchChldBtmFrmRptRt input.form-control::placeholder {
        font-size: 14px;
    }

    .custFilterFrSrch ul {
        flex-wrap: wrap;
    }
}
@media (max-width: 767.98px) {
    .d-flex {
        flex-direction: column;

        .btn {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media(min-width:576px) and (max-width:767px) {
    header.custHeader .col-sm-12 {
        width: 50%;
    }
    .custRightBarMn {
        width: 100% !important;
        height: 100vh;
    }
    header.custHeader nav.navbar #navbarSupportedContent {
        display: block;
    }

    .custNavBarHdrIcons ul li img,
    .custNavBarHdr #navbarDropdown img {
        width: 25px;
    }

    .custNavBarHdr #navbarDropdown {
        font-size: 16px;
    }

    .custNavBarHdr .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .custSidebar {
        width: 30%;
        padding: 40px 10px 40px 10px;
    }

    .custUpldFlDv a.custUpldFl1 {
        padding: 12px 22px;
        font-size: 13px;
        text-decoration: none;
        text-align: center;
    }

    .custUpldFlDv a.custUpldFl2 {
        padding: 10px 16px;
        font-size: 12px;
        text-align: center;
    }

    .custSidebarTp {
        gap: 10px 0;
        margin-bottom: 20px;
    }

    .custRptDropdown ul.custAllChildUlPrnt li.custHasChild li.custHasChild::after {
        right: 0px;
    }

    .custRightBarMn {
        width: 70%;
        padding: 20px 10px;
    }

    .custTableSrch nav form {
        width: 90%;
    }

    .custFilterFrSrch ul {
        gap: 5px;
        flex-wrap: wrap;
    }

    .custFilterTableMn table thead tr th {
        font-size: 14px;
    }

    .custFilterTableMn table tbody tr td {
        font-size: 11px;
        line-height: 18px;
    }

    .custTableSrchChldBtmFrmRptLft {
        width: 40%;
    }

    .custTableSrchChldBtmFrmRptRt {
        width: 60%;
    }

    .custTableSrchChldBtmFrmRptRt .select,
    .custTableSrchChldBtmFrmRptRt select.form-control {
        width: 100%;
        font-size: 14px;
    }

    .custTableSrchChldBtmFrmRptRt .selected,
    .custTableSrchChldBtmFrmRptRt select.form-control,
    .custTableSrchChldBtmFrmRptRt input.form-control {
        padding: 10px 20px 10px 20px;
        font-size: 14px;
    }

    .custTableSrchChldBtmFrmRptRt .selected,
    .custTableSrchChldBtmFrmRptRt input.form-control::placeholder {
        font-size: 14px;
    }

    .custEdtPflSec h2,
    .custEdtPflSec .h2 {
        font-size: 20px;
    }

    .custEdtPflSec form .d-flex .d-flex {
        width: 100%;
        flex-direction: row;
        gap: 11px;
    }

    .custEdtPflSec form .d-flex .d-flex button {
        margin-right: 0px !important;
    }

    .custCtrBtnCld .avatar {
        width: 154px;
        height: 154px;
    }

    .custCtrBtnCld {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
    }

}
@media (max-width: 767px){

    .custLoginPageMn {
        align-items: flex-start;
        padding-top: 110px;
        height: auto;
        min-height: 100vh;
    }
}
@media(min-width:100px) and (max-width:575px) {
    .custHdrLft {
        text-align: center;
    }

    .custHeader .navbar #navbarSupportedContent {
        display: block;
    }

    .custNavBarHdrIcons ul li img {
        width: 24px;
    }

    .custNavBarHdr #navbarDropdown img {
        margin-right: 9px;
        width: 24px;
        height: 24px;
    }

    .custNavBarHdr #navbarDropdown {
        font-size: 14px;
    }

    .custNavBarHdr .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .custNavBarHdr {
        justify-content: center;
    }

    .custRightBarMn {
        width: 100%;
        height: auto;
        padding: 15px 15px 200px 15px;
    }

    .custRightBarMn .container {
        padding: 0px;
    }

    .custSidebar {
        order: 1;
        width: 100%;
        height: auto;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        background-image: none;
    }

    .custSidebarTp {
        flex-direction: row;
        margin-bottom: 0px;
        position: absolute;
        top: -60px;
        width: 100%;
    }

    .custSidebarTp .custUpldFlDv:last-child {
        margin-right: auto;
        order: 0;
    }

    .custSidebarTp .custUpldFlDv:first-child {
        margin-left: auto;
        order: 1;
    }

    .custUpldFlDv a.custUpldFl1 {
        padding: 10px 28px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }

    .custFilterFrSrch {
        display: none;
    }

    .custTableSrch nav form {
        width: 100%;
    }

    .custFilterTable {
        margin: 22px 0 0 0;
    }

    // .custFilterTabledng {
    //     display: none;
    // }

    .custFilterTableMn table thead {
        display: none;
    }

    .custShowDsktp {
        display: none;
    }

    .custShowMbl {
        display: block !important;
    }

    .custSidebarBtm {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: flex-start;
    }

    .custRptDropdown {
        width: 25%;
    }

    .custRptDropdown h4 {
        margin: 0px;
        height: 100%;
        width: 100%;
    }

    .custRptDropdown h4 a {
        font-size: 9px;
        font-weight: 400;
        line-height: 14px;
        height: 100%;
        width: 100%;
    }

    .custRptDropdown h4 a,
    .custRptDropdown .h4 a {
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: #fff;
    }

    .custRptDropdown h4 a img,
    .custRptDropdown .h4 a img {
        height: 30px;
        width: auto;
        margin-bottom: 2px;
    }

    .custUpldFlDv a.custUpldFl2 {
        border: 1px solid #00ac8c;
    }

    .custTableSrchChldBtmFrmRptLft {
        width: 35%;
    }

    .custTableSrchChldBtmFrmRptRt {
        width: 65%;
    }

    .custTableSrchChldBtmFrmRptRt .select,
    .custTableSrchChldBtmFrmRptRt select.form-control {
        width: 100%;
    }

    .custTableSrchChldBtmFrmRptRt .selected {
        font-size: 14px;
        line-height: 22px;
        padding: 10px 20px 10px 20px;
    }

    .custTableSrchChldBtmFrmRptRt input.form-control,
    .custTableSrchChldBtmFrmRptRt select.form-control {
        padding: 10px 20px 10px 20px;
        font-size: 14px;
        line-height: 22px;
    }

    .custTableSrchChldBtmFrmRptRt input.form-control::placeholder {
        font-size: 14px;
    }

    .SrchBarFlterBtns {
        margin-top: 22px;
    }

    .custFilterTableMn table tbody tr {
        border: none;
    }

    .custFilterTableMn table tbody tr td:first-child {
        float: left;
        width: 100%;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 16px;
        margin-bottom: -18px;
        padding: 14px 0;
        margin-top: 10px;
    }

    .custFilterTableMn table tbody tr td:first-child img {
        width: 21px;
        margin: 15px 4px 0 0;
    }

    .custFilterTableMn table tbody tr td:nth-child(2) {
        padding-left: 26px;
    }

    .custFilterTableMn table tbody tr td {
        float: left;
        padding-left: 6px;
        padding-top: 0px;
        font-size: 12px;
        position: relative;
        padding-top: 0 !important;
    }

    .custFilterTableMn table tbody tr td:last-child {
        float: right;
    }

    .custFilterTableMn table tbody tr td img.custTablsDots {
        width: 4px;
    }

    .custFilterTableMn table tbody tr td img {
        width: 20px;
        margin: 0px 0 0 0;
    }

    .custFilterTableMn table tbody tr td:nth-child(3)::before,
    .custFilterTableMn table tbody tr td:nth-child(4)::before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #1f454b;
        display: inline-block;
        position: relative;
        margin: 0 5px 0 0;
        top: -2px;
    }

    .custShrDv {
        width: 146px;
    }

    .custShrDvCld>ul>li.custHasCldMenu {
        padding: 10px 5px;
        text-align: center;
    }

    .custShrDvCld>ul>li>a {
        padding-left: 10px !important;
        text-align: center;
    }

    .custShrDvCld>ul>li>img,
    .custShrDvCld>ul>li>a>img,
    .custShrDvCld ul li.custHasCldMenu>ul>li>a>img {
        width: 16px !important;
    }

    .custShrDvCld>ul>li.custHasCldMenu::after {
        width: 9px;
        height: 8px;
        left: 10px;
        top: 19px;
    }

    .custMdlDataBtmLnk {
        flex-direction: column;
    }

    .custMdlDataTp ul {
        gap: 0 15px;
    }

    .custMdlDataBtmLnk .custRstBtn {
        width: calc(100% - 0px);
    }

    .custMdlDataBtmLnk .custSrchBtn {
        margin-right: auto;
    }

    .custEdtPflSec h2,
    .custEdtPflSec .h2 {
        font-size: 20px;
    }

    .custEdtPflSec form .d-flex .d-flex {
        width: 100%;
        flex-direction: row;
        gap: 11px;
    }

    .custEdtPflSec form .d-flex .d-flex button {
        margin-right: 0px !important;
    }

    .custEdtPflSec form .form-section .col-md-4.form-group.d-flex.align-items-end {
        align-items: flex-start !important;
    }

    .custCtrBtnCld .avatar {
        width: 154px;
        height: 154px;
    }

    .custCtrBtnCld {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    body.user-profile .custSidebarBtm {
        display: flex;
    }

    .custCard {
        padding: 30px;
    }

    .custUserTblMnSec .custFilterTableMn table tbody tr td:nth-child(4)::before {
        display: none;
    }

}


